.echartsModal{
    :global{
        .ant-modal-body{
            padding: 0;
        }
        .ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane, .ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
            padding-left: 2px;
        }
    }
}

.modalBox{
    display: flex;
    min-height: 76vh;
}

.tabContainer{
    width: 50%;
}