$primaryColor: #1269b5;
$primaryBorder: 1px solid $primaryColor;


.zyy{
    // background-color: $primaryColor;
    border: $primaryBorder;
    &:hover {
        background-color: $primaryColor;
    }
    & &Zzz{
        color: blue;
    }
}

// 嵌套
// .zyy1{
//     font:{
//         size: 16px;
//         family: '黑体';
//         weight: 700;
//     }
// }

@mixin alert($text-color,$background) {
    color: $text-color;
    background: $background;
}

.alertWarning {
    // @include alert(red,yellow);
}

.zyyZzz:last-child {
    color: blueviolet;
}

// 命名方式
.alertWarning2 {
    @include alert($background:yellow,$text-color:red);
}



// 继承、扩展
.alert{
    padding:15px;
}

.alertInfo{
    @extend .alert;
    background-color: #d9e;
}



$myColor:(light:#fff,dark:#000);

.zyy3{
    color: map-get($myColor, light);
}



$name:"infos";
$attr:"border";

.alert#{$name}{
    #{$attr}-color:#ccc;
}


$columns: 4;

@for $i from 1 through $columns {
    .col-#{$i}{
        width: 100% / $columns * $i;
    }
}

// @each
// $icon:success error warning;

// @each $icon in $icons {
//     .icon-#{$icon} {
//         background-image: url(../images/icons/#{$icon}.png);
//     }
// }

@function color($key) {
    @if not map-has-key($myColor, $key ) {
        @error "在 $color 里没有找到 #{$key} 这个key";
    }

    @return map-get($myColor, $key);
}

body{
    background-color: color(dark);
}

